<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哦吼~</title>
</head>
<body>

<h1>用户列表</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>头像</th>
            <th>姓名</th>
            <th>邮箱</th>
            <th>更多信息</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>
                <img src="/static/bb.jpg" alt="" style="height: 50px">
            </td>
            <td>ajuicefans</td>
            <td>ajuicefans@qq.com</td>
            <td>
                <a href="https://www.baidu.com/" target="_blank">点击查看详细</a>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>